<!-- HEADER -->
<header>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Lorem ipsum dolor sit amet</h1>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dicta, cupiditate consequatur necessitatibus quos libero eius ipsum qui sit molestiae.</p>
          <p>&nbsp;</p>
          <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> </p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- / HEADER --> 

<!--  SECTION-1 -->
<section>
  <div class="row">
      <div class="col-lg-12 page-header text-center">
        <h2>ABOUT US</h2>
      </div>
    </div>
    <div class="container ">
  <div class="row">
    <div class="col-lg-4 col-sm-12 text-center"> <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="file:///C|/Users/jgmac/AppData/Roaming/Adobe/Dreamweaver CC 2018/en_US/Configuration/Temp/Assets/eam3FDB.tmp/images/140X140.gif" data-holder-rendered="true">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
  </div>
  <!-- /container -->
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 page-header text-center">
          <h2>OUR SERVICES</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-lg-4">
          <h3>Feature Description</h3>
          <p> <i class="icon-desktop "></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
          <p><a class="btn btn-default" href="http://www.bootstraptor.com">View details »</a></p>
        </div>
        <div class="col-xs-6 col-lg-4">
          <h3>Feature Description</h3>
          <p> <i class="icon-desktop "></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, illo, libero esse assumenda culpa consequatur exercitationem beatae odio praesentium nihil iste ipsum reiciendis pariatur. Recusandae, reiciendis quidem eaque aut ab. </p>
          <p><a class="btn btn-default" href="http://www.bootstraptor.com">View details »</a></p>
        </div>
  
      </div>
  </div>
    <!-- / CONTAINER--> 
  </section>


<!-- FOOTER -->
<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-xs-12 col-lg-6">
      <div class="jumbotron">
        <div class="row text-center">
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Request a free quote</h2>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © MyWebsite. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- / FOOTER --> 
